.advantages{
  margin-top: 65px;
  &__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.06em;
  }
  &-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image{
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background: #EAEAEA;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-img{
      object-fit: cover;
    }
  }
  &__carousel{
    & .slick{
      &-list{
        overflow: hidden;
      }
      &-track{
        display: flex;
      }
    }
  }
}