.sidebar{
  box-shadow: 6px 0px 14px rgba(0, 0, 0, 0.36);
  height: 100%;
  max-width: 384px;
  width: 100%;
  background: #001F4A;
  @include media(1400){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 320px;
    width: 100%;
    transform: translateX(-100%);
    transition: 400ms ease;
    z-index: 55;
    &.open{
      transform: translateX(0);
    }
  }
  &__header{
    background: #002355;
    padding: 11px 35px 27px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;
    &-p{
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #FFEE57;
    }
  }
  &__content{
    background: url('../images/sidebar-bg.png') center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(0deg, #008DAC, #008DAC), linear-gradient(180deg, #B90000 0%, #8B0000 100%, #9B0000 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), inset -1px -2px 1px rgba(0, 0, 0, 0.14), inset 1px 2px 1px rgba(255, 255, 255, 0.14);
    border-radius: 5px;
    width: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 15px;
    border: none;
  }
  &__filter{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-bottom: 38px;
    &-item{
      width: calc(50% - 6px);
      height: 37px;
      margin-bottom: 12px;
      background: rgba(0, 81, 139, 0.6);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), inset -1px -2px 1px rgba(0, 0, 0, 0.2), inset 1px 2px 1px rgba(173, 250, 255, 0.2);
      border-radius: 5px;
      border: none;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      &.active{
        background: #FFA800;
        box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
      }
    }
  }
  &__contact{
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 70px;
    &-item{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      &-image{
        width: 44px;
        margin-right: 18px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      
    }
    &-link{
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 11px;
    }
    &-input{
      margin-bottom: 14px;
      width: 100%;
      height: 30px;
      border: 1px solid #747474;
      border-radius: 4px;
      background: #FFFFFF;
      padding-left: 14px;
    }
  }
}