*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
  &:focus,&:active{
    outline: none;
  }
}
html{
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}
body{
  height: 100%;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  zoom: 90%;
}
button{
  font-family: inherit;
  cursor: pointer;
}
input{
  font-family: inherit;
}
a{
  text-decoration: none;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  max-width: 100%;
  width: 100%;
}
.main{
  margin-left: auto;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 343px);
  @include media(1400){
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}