mixin ad()
  .ad 
    .ad__top 
      p.ad__top-title Для постоянных клиентов действуют выгодные предложения.  
      p.ad__top-p Мы заключаем договора на особых условиях и предлагаем максимально выгодную цену. 
    .ad__body 
      h2.ad__title НАШИ ПРЕИМУЩЕСТВА 
      .ad__row 
        .ad__image  
          img(src="images/add-tracks.png", alt="trucks").ad__img
        .ad__content  
          p.ad__subtitle «ТЕХНОПАРК» работает на всей <br>территории Кемеровской области:  
          .ad__lists 
            ul.ad__list 
              li.ad__li Новокузнецк 
              li.ad__li Кемерово 
              li.ad__li Междуреченск 
              li.ad__li Мыски 
              li.ad__li ГРЭС 
              li.ad__li Боровково 
              li.ad__li Тальжино 
              li.ad__li Атаманово 
              li.ad__li Абагур 
              li.ad__li Абашево 
              li.ad__li Новобайдаевка 
              li.ad__li Прокопьевск 
              li.ad__li Киселевск 
              li.ad__li Белово 
            ul.ad__list 
              li.ad__li Ленинск-Кузнецкий 
              li.ad__li Инской 
              li.ad__li Калтан 
              li.ad__li Осинники 
              li.ad__li Гурьевск 
              li.ad__li Салаир 
              li.ad__li Юрга 
              li.ad__li Анжеро-Судженск 
              li.ad__li Березовский  
              li.ad__li Топки 
              li.ad__li Грамотеино 
              li.ad__li Полысаево 
              li.ad__li Тайга 
    .ad__bottom 
      .ad__item   
        img(src="images/ad/1.svg", alt="ad").ad__item-img
        p.ad__item-p Быстрое время<br>обработки заявки
      .ad__item   
        img(src="images/ad/2.svg", alt="ad").ad__item-img
        p.ad__item-p Подбор оптимальных<br>вариантов техники и цен
      .ad__item   
        img(src="images/ad/3.svg", alt="ad").ad__item-img
        p.ad__item-p Неограниченный спектр<br>предоставляемого<br>транспорта
      .ad__item   
        img(src="images/ad/4.svg", alt="ad").ad__item-img
        p.ad__item-p Расчёт: наличный и<br>безналичный, НДС и<br>без НДС, на карту
      .ad__item   
        img(src="images/ad/5.svg", alt="ad").ad__item-img
        p.ad__item-p Возможность<br>отсрочки платежа
      .ad__item   
        img(src="images/ad/6.svg", alt="ad").ad__item-img
        p.ad__item-p Заключение<br>договоров