mixin advantages()
  .advantages   
    .advantages__body 
      h2.advantages__title УСЛУГИ 
        div
      .advantages__carousel 
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/1.png", alt="track").advantages-item__img
          p.advantages-item__title Колесный экскаватор
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/2.png", alt="track").advantages-item__img
          p.advantages-item__title Автокран
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/3.png", alt="track").advantages-item__img
          p.advantages-item__title Самосвал
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/4.png", alt="track").advantages-item__img
          p.advantages-item__title Гусеничный экскаватор
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/5.png", alt="track").advantages-item__img
          p.advantages-item__title Фронтальный погрузчик
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/6.png", alt="track").advantages-item__img
          p.advantages-item__title Бульдозер
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/7.png", alt="track").advantages-item__img
          p.advantages-item__title Компрессор
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/8.png", alt="track").advantages-item__img
          p.advantages-item__title Трал
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/9.png", alt="track").advantages-item__img
          p.advantages-item__title Автобетоносмеситель
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/10.png", alt="track").advantages-item__img
          p.advantages-item__title Автобетононасос
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/11.png", alt="track").advantages-item__img
          p.advantages-item__title Длинномер
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/12.png", alt="track").advantages-item__img
          p.advantages-item__title Бортовая машина
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/13.png", alt="track").advantages-item__img
          p.advantages-item__title Трактор
        .advantages-item
          .advantages-item__image   
            img(src="images/tracks/14.png", alt="track").advantages-item__img
          p.advantages-item__title Поворотный экскаватор
      p.advantages__p В компании «ТЕХНОПАРК» вы можете заказать услуги спецтехники для любых целей. В нашем автопарке качественная спецтехника: тралы, экскаваторы, ассенизаторы, автобусы, манипуляторы и др. машины.
      a(href="#!").advantages__btn Перейти к каталогу спецтехники >> 