mixin header()
  .header   
    nav.header__nav.container 
      img(src="images/track-logo.png", alt="tracktor logo").header__logo
      .header__header 
        a(href="#!").header__header-logo
          img(src="images/logo.png", alt="Texnopark").header__header-logo-img 
      button.intro__button 
        span.intro__button-line