include intro.pug 
include advantages.pug 
include ad.pug 
include work.pug 
include form.pug 
include reviews.pug 
include post.pug 
include header.pug 
mixin main() 
  main.main 
    +header
    +intro 
    +advantages 
    +ad 
    +work 
    +form
    +reviews
    +post