mixin reviews()
  .reviews 
    h2.reviews__title ОТЗЫВЫ
    .reviews__carousel 
      .reviews__item
        p.reviews__p “Выражаем искреннюю благодарность, за слаженную работу, по аренде строительной техники при произведении наших работ на строительных объектах. Хочется отметить высокий профессионализм сотрудников компании, слаженную работу, а так же наличия широкого выбора строительной техники. При необходимости будем обращаться к Вам снова.”
        p.reviews__name Владислав
      .reviews__item
        p.reviews__p “С удовольствием будем обращаться с бригадой сюда. Компания полностью себя оправдала и с точки зрения качества техники и с точки зрения адекватности того специалиста который ей управляет. Стоимость достаточно удовлетворительная, в сравнении с ценами в других компаниях.”
        p.reviews__name Геннадий
      .reviews__item
        p.reviews__p “Выражаем искреннюю благодарность, за слаженную работу, по аренде строительной техники при произведении наших работ на строительных объектах. Хочется отметить высокий профессионализм сотрудников компании, слаженную работу, а так же наличия широкого выбора строительной техники. При необходимости будем обращаться к Вам снова.”
        p.reviews__name Владислав
      .reviews__item
        p.reviews__p “С удовольствием будем обращаться с бригадой сюда. Компания полностью себя оправдала и с точки зрения качества техники и с точки зрения адекватности того специалиста который ей управляет. Стоимость достаточно удовлетворительная, в сравнении с ценами в других компаниях.”
        p.reviews__name Геннадий