mixin sidebar()
  aside.sidebar 
    .sidebar__header 
      a(href="#!").sidebar__header-logo
        img(src="images/logo.png", alt="Texnopark").sidebar__header-logo-img 
      p.sidebar__header-p Аренда спецтехники по Кемеровской области
    .sidebar__content 
      img(src="images/track-logo.png", alt="tracktor logo").sidebar__content-logo
      a(href="#!").sidebar__btn Home
      .sidebar__filter  
        button(type="button").sidebar__filter-item Автовышки 
        button(type="button").sidebar__filter-item Манипуляторы 
        button(type="button").sidebar__filter-item Эвакуаторы 
        button(type="button").sidebar__filter-item Ассенизаторы 
        button(type="button").sidebar__filter-item Колесные экскаваторы 
        button(type="button").sidebar__filter-item Гусеничные экскаваторы 
        button(type="button").sidebar__filter-item Самосвалы 
        button(type="button").sidebar__filter-item Автокраны 
        button(type="button").sidebar__filter-item Фронтальные погрузчики 
        button(type="button").sidebar__filter-item Бульдозеры 
        button(type="button").sidebar__filter-item Компрессоры 
        button(type="button").sidebar__filter-item Тралы 
        button(type="button").sidebar__filter-item Автобетоносмесители 
        button(type="button").sidebar__filter-item Автобетононасосы 
        button(type="button").sidebar__filter-item Длинномеры 
        button(type="button").sidebar__filter-item Бортовые машины 
        button(type="button").sidebar__filter-item Тракторы 
        button(type="button").sidebar__filter-item Полноповоротные экскаваторы 