mixin work()
  .work 
    .work__body 
      .work__left 
        h2.work__title КАК МЫ РАБОТАЕМ 
        p.work__subtitle Чтобы воспользоваться услугами компании «ТЕХНОПАРК», вы можете: 
        p.work__p · Оставить заявку и сделать предварительный заказ спецтехники Новокузнецк. 
        p.work__p · Позвонить по телефонам и сообщить о желании заключить договор. 
        p.work__p · Приехать к нам в офис и оформить договор аренды спецтехники. 
      .work__right 
        img(src="images/work.png", alt="work").work__img 
    .work__row 
      div(data-num="1").work__item 
        img(src="images/work/1.png", alt="work").work__item-img 
        p.work__item-p Вы оставляете заявку на сайте или звоните нам  
      div(data-num="2").work__item 
        img(src="images/work/2.png", alt="work").work__item-img 
        p.work__item-p Мы согласуем с Вами сроки и стоимость заказа 
      div(data-num="3").work__item 
        img(src="images/work/3.png", alt="work").work__item-img 
        p.work__item-p По результатам согласования мы оформляем документы 
      div(data-num="4").work__item 
        img(src="images/work/4.png", alt="work").work__item-img 
        p.work__item-p Вы оплачиваете услуги удобным для Вас способом 
      div(data-num="5").work__item 
        img(src="images/work/5.png", alt="work").work__item-img 
        p.work__item-p Мы доставим  спецтехнику в  установленные договором сроки 